.upcoming {
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    position: relative;
}



ul.upcoming {
    padding: 0;
}

.movieCard {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: #242a38;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    transition: transform .2s;
}

.movieCard:hover {
    transform: scale(1.02);
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.movieCard a {
    color: #242a38;
    margin-top: 0.2em;
    word-break: break-word;
    text-decoration: none;
}

.movieCard a:hover {
    color: #242a38;
    text-decoration: underline;
}

li.movieCard img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

li.movieCard img:hover {
    -webkit-filter: brightness(80%);
}

li.movieCard {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.uptitle {
    border-left: 4px solid #01ee97;
    padding-left: 0.4em;
}

.space {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.showRating span {
    margin: 0;
    margin-right: 0.2em;
}

.rat span {
    margin: 0;
}

.rat svg {
    font-size: 12px;
    color: #ffa54e;
    margin-bottom: 2px;
    margin-left: 2px;
}

.movieCard span {
    margin: 0;
}

.rat {
    align-items: center;
}
.showRating {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.sub {
    color: #282c34;
    font-size: 14px;
}
.subra {
    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
}

.follow {
    border: none;
    outline: none;
    margin: 0;
    background: none;
}

.titulo {
    align-items: center;
}

.follow {
    background-color: #44b9a3;
    border-radius: 4px;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-self: center;
    width: 90%;
    height: 2.5em;
    margin-top: auto;
}

.follow:hover,
.follow:focus {
    opacity: .95;
}

.tudo {
    flex-direction: column;
    margin-top: auto;
}