.box {
    width: 1200px;
    height: 240px;
    padding: 12px;
    box-shadow: rgb(14 30 37 / 12%) 0px 1px 1px 0px, rgb(14 30 37 / 32%) 0px 2px 4px 0px;
    border-radius: 8px;
}

.box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.max-lines {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 9.4em;
    line-height: 1.8em;
}

.box p {
    margin: 0;
}

.authorRate, .authorRate svg {
    color: #ffc32b;
}